* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #020300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 80px;
}

header nav a {
    color: #f2b968;
    font-weight: 600;
    font-size: 20px;
    padding: 16px 32px;
    text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    /*top, right, bottom, left*/
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragraph {
    line-height: 150%;
    margin-bottom: 32px;
}

.button {
    background-color: #f2b968;
    border-radius: 8px;
    color: #ffffff;
    padding: 16px 32px;
    text-decoration: none;
}

.transparent-button {
    background-color: transparent;
    color: #f2b968;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 80px;
}

#produtos h2{
    text-align: center;
}

#produtos .paragraph{
    text-align: center;
}

.produto {
    position: relative;
    cursor: pointer;
    gap: 10px;
}

.produto h3 {
    border: 2px solid #f2b968;
    border-radius: 8px;
    padding: 24px;
}

.produto img {
    top: 32px;
    right: 24px;
    border-radius: 8px;
}

.produto .lista {
    display: flex;
    list-style-type: none;
    border-right: 1px solid #f2b968;
    border-bottom: 1px solid #f2b968;
    border-left: 1px solid #f2b968;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 8px 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.produto.active .lista {
    height: fit-content;
    opacity: 1;
    padding: 24px;
    margin-bottom: 12px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    gap: 8px;
    transition: transform 0.3s ease;
}

.item h4, .item p{
    margin: 10px 0px;
}

.preco {
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #27ae60;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}